.page {
  background-color: rgba(52, 29, 29, 1);
  position: relative;
  width: 750rpx;
  height: 1624rpx;
  overflow: hidden;
}

.group_1 {
  background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPngad9f1ed98f58fdebacae57628b90e14259ef4f45d6c2da279cf59abb5e065484)
    100% no-repeat;
  background-size: 100% 100%;
}

.section_1 {
  margin-bottom: 1292rpx;
  padding: 28rpx 30rpx 96rpx 32rpx;
}

.box_1 {
  margin-left: 32rpx;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30rpx;
  letter-spacing: -0.30000001192092896px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36rpx;
}

.thumbnail_1 {
  width: 34rpx;
  height: 22rpx;
  margin: 8rpx 0 6rpx 462rpx;
}

.thumbnail_2 {
  width: 30rpx;
  height: 22rpx;
  margin: 6rpx 0 8rpx 10rpx;
}

.image_1 {
  width: 48rpx;
  height: 22rpx;
  margin: 6rpx 0 8rpx 10rpx;
}

.text-wrapper_1 {
  margin: 106rpx 496rpx 0 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 48rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 66rpx;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px 30px 0px 0px;
  margin: 330rpx 0 0 -750rpx;
  padding: 100rpx 32rpx 42rpx 32rpx;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(77, 78, 70, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 44rpx;
  margin-right: 590rpx;
}

.text-wrapper_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: 1.5px solid rgba(238, 238, 238, 1);
  margin-top: 16rpx;
  padding: 11.1rpx 237.1rpx 11.1rpx 18.1rpx;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(77, 78, 70, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 44rpx;
  margin: 80rpx 558rpx 0 0;
}

.text-wrapper_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: 1.5px solid rgba(238, 238, 238, 1);
  margin-top: 16rpx;
  padding: 11.1rpx 251.1rpx 11.1rpx 18.1rpx;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(255, 158, 0, 1);
  font-size: 24rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 34rpx;
  margin: 16rpx 566rpx 0 0;
}

.text-wrapper_4 {
  background: url(https://lanhu-oss-2537-2.lanhuapp.com/SketchPnge970a70f1c9c6ab0cfe327d25a84d3a0aebc95e8bd94dcb8feb1b7af52cf8a02)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 80rpx;
  padding: 26rpx 320rpx 26rpx 302rpx;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 44rpx;
}

.text-wrapper_5 {
  width: 234rpx;
  height: 36rpx;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 36rpx;
  margin: 32rpx 236rpx 0 216rpx;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 26rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 36rpx;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(255, 158, 0, 1);
  font-size: 26rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 36rpx;
}

.image-text_1 {
  width: 648rpx;
  margin: 438rpx 18rpx 0 20rpx;
}

.block_1 {
  border-radius: 50%;
  width: 24rpx;
  height: 24rpx;
  border: 1px solid rgba(221, 221, 221, 1);
  margin: 6rpx 0 6rpx 0;
}

.text-group_1 {
  width: 616rpx;
  height: 36rpx;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 36rpx;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(77, 78, 70, 1);
  font-size: 22rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 36rpx;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(255, 158, 0, 1);
  font-size: 22rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 36rpx;
}
