.login-gradient-bg {
  background: linear-gradient( 326deg, #FFD100 0%, #FFA500 100%);
  background-size: 100% 100%;
}

.login-logo {
  width: 650rpx;
  height: 514rpx;
  margin: -104rpx -244rpx 0 344rpx;
}
