// 基础样式
.w-10 {
	width: 10rpx;
}

.w-20 {
	width: 20rpx;
}

.w-30 {
	width: 30rpx;
}

.w-40 {
	width: 40rpx;
}

.w-43 {
	width: 43rpx;
}

.w-50 {
	width: 50rpx;
}

.w-53 {
	width: 53rpx;
}

.w-60 {
	 width: 60rpx;
}

.w-70 {
	width: 70rpx;
}

.w-75 {
	width: 75rpx;
}

.w-85 {
	width: 85rpx;
}

.w-90 {
	width: 90rpx;
}

.w-99 {
	width: 99rpx;
}

.w-100 {
	width: 100rpx;
}

.w-104 {
	width: 104rpx;
}

.w-105 {
	width: 105rpx;
}

.w-106 {
	width: 106rpx;
}

.w-107 {
	width: 107rpx;
}

.w-110 {
	width: 110rpx;
}

.w-120 {
	width: 120rpx;
}

.w-127 {
	width: 127rpx;
}

.w-140 {
	width: 140rpx;
}

.w-150 {
	width: 150rpx;
}

.w-152 {
	width: 152rpx;
}

.w-156 {
	width: 156rpx;
}

.w-160 {
	width: 160rpx;
}

.w-180 {
	width: 180rpx;
}

.w-194 {
	width: 194rpx;
}

.w-200 {
	width: 200rpx;
}

.w-213 {
	width: 213rpx;
}

.w-270 {
	width: 270rpx;
}

.w-300 {
	width: 300rpx;
}

.w-330 {
	width: 330rpx;
}

.w-414 {
	width: 414rpx;
}

.w-420 {
	width: 420rpx;
}

.w-475 {
	width: 475rpx;
}

.w-500 {
	width: 500rpx;
}

.w-630 {
	width: 630rpx;
}

.w-650 {
	width: 650rpx;
}

.w-660{
	width: 660rpx;
}

.w-680 {
	width: 680rpx;
}

.w-690 {
	width: 690rpx;
}

.w-700 {
	width: 700rpx;
}

.w-723 {
	width: 723rpx;
}

.w-fill {
	width: 100% !important;
}

.w-100vw {
	width: 100vw;
}

.h-22 {
	height: 22rpx;
}

.h-30{
	height: 30rpx;
}

.h-58 {
	height: 58rpx;
}
.h-88 {
	height: 88rpx;
}

.h-120 {
	height: 120rpx;
}

.h-140 {
	height: 140rpx;
}

.h-160 {
	height: 160rpx;
}

.h-fill {
	height: 100% !important;
}

.h-80vh{
	height: 80vh;	
}

.h-90vh {
	height: 90vh;
}

.h-100vh {
	height: 100vh;
}

.y-hidden {
	overflow-y: hidden;
}

.y-auto {
	overflow-y: auto;
}

.flex {
	display: flex;
}

.flex1 {
	flex: 1;
}

.flex2 {
	flex: 2;
}

.flex7 {
	flex: 7;
}

.flex8 {
	flex: 8;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-x-center {
	display: flex;
	justify-content: center;
}

.flex-y-center {
	display: flex;
	align-items: center;
}

//垂直居中
.flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flex-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.flex-d-c {
	flex-direction: column;
}

.flex-d-r {
	flex-direction: row-reverse;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-shrink-0{
	flex-shrink: 0; //元素不被挤压
}

.space-between {
justify-content: space-between;
}

.mg-x-center {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-nowrap {
	white-space: nowrap;
}

.inline-block {
	display: inline-block;
}

.inline-flex {
	display: inline-flex;
}

.block {
	display: block;
}

.pr {
	position: relative;
}

.pa {
	position: absolute;
}

.pf {
	position: fixed;
}

.top--10{
	top: -10rpx;
}

.top-0 {
	top: 0;
}

.top-5 {
	top: 5rpx;
}

.top-10 {
	top: 10rpx;
}

.right--10 {
	right: -10rpx;
}

.right-0 {
	right: 0;
}

.right-5 {
	right: 5rpx;
}

.right-10 {
	right: 10rpx;
}

.bottom-0 {
	bottom: 0;
}

.bottom-10 {
	bottom: 10rpx;
}

.left-0 {
	left: 0;
}

.left-3 {
	left: 3rpx;
}

.z-i--1 {
	z-index: -1;
}

.z-i-0 {
	z-index: 0;
}

.z-i-1 {
	z-index: 1;
}

.z-i-2 {
	z-index: 2;
}

.z-i-9 {
	z-index: 9;
}

.mg-5 {
	margin: 5rpx;
}

.mg-10 {
	margin: 10rpx;
}

.mg-20 {
	margin: 20rpx;
}

.mt--10 {
	margin-top: -10rpx;
}

.mt--12 {
	margin-top: -12rpx;
}

.mt--15 {
	margin-top: -15rpx;
}

.mt--18 {
	margin-top: -18rpx;
}

.mt--20 {
	margin-top: -20rpx;
}

.mt--60 {
	margin-top: -60rpx;
}

.mt-3 {
	margin-top: 3rpx;
}

.mt-4 {
	margin-top: 3rpx;
}

.mt-5 {
	margin-top: 5rpx;
}

.mt-7 {
	margin-top: 7rpx;
}

.mt-8 {
	margin-top: 8rpx;
}

.mt-10 {
	margin-top: 10rpx;
}

.mt-12{
	margin-top: 12rpx;
}

.mt-15 {
	margin-top: 15rpx;
}

.mt-16 {
	margin-top: 16rpx;
}

.mt-18 {
	margin-top: 18rpx;
}

.mt-20 {
	margin-top: 20rpx;
}

.mt-25 {
	margin-top: 25rpx;
}

.mt-27 {
	margin-top: 27rpx;
}

.mt-30 {
	margin-top: 30rpx;
}

.mt-33 {
	margin-top: 33rpx;
}

.mt-35 {
	margin-top: 35rpx;
}

.mt-40 {
	margin-top: 40rpx;
}

.mt-45{
	margin-top: 45rpx;
}

.mt-50 {
	margin-top: 50rpx;
}

.mt-65 {
	margin-top: 65rpx;
}

.mt-70 {
	margin-top: 70rpx;
}

.mt-90 {
	margin-top: 90rpx;
}

.mt-100 {
	margin-top: 100rpx;
}

.mt-108{
	margin-top: 108rpx;
}

.mt-120 {
	margin-top: 120rpx;
}

.mt-125 {
	margin-top: 125rpx;
}

.mt-140 {
	margin-top: 140rpx;
}

.mt-144 {
	margin-top: 144rpx;
}

.mt-160 {
	margin-top: 160rpx;
}

.mt-165 {
	margin-top: 165rpx;
}

.mr-2 {
	margin-right: 2rpx;
}

.mr-5 {
	margin-right: 5rpx;
}

.mr-6 {
	margin-right: 6rpx;
}

.mr-8 {
	margin-right: 8rpx;
}

.mr-10 {
	margin-right: 10rpx;
}

.mr-12 {
	margin-right: 12rpx;
}

.mr-15 {
	margin-right: 15rpx;
}

.mr-20 {
	margin-right: 20rpx;
}

.mr-30 {
	margin-right: 30rpx;
}

.mr-35 {
	margin-right: 35rpx;
}

.mr-40 {
	margin-right: 40rpx;
}

.mb-8 {
	margin-bottom: 8rpx;
}

.mb-10 {
	margin-bottom: 10rpx;
}

.mb-13 {
	margin-bottom: 13rpx;
}

.mb-15 {
	margin-bottom: 15rpx;
}

.mb-17 {
	margin-bottom: 17rpx;
}

.mb-20 {
	margin-bottom: 20rpx;
}

.mb-25{
	margin-bottom: 25rpx;	
}

.mb-27{
	margin-bottom: 27rpx;	
}

.mb-30 {
	margin-bottom: 30rpx;
}

.mb-40 {
	margin-bottom: 40rpx;
}

.mb-100 {
	margin-bottom: 100rpx;
}

.mb-120 {
	margin-bottom: 120rpx;
}

.ml--10 {
	margin-left: -10rpx;
}

.ml--20 {
	margin-left: -20rpx;
}

.ml--30 {
	margin-left: -30rpx;
}

.ml-3 {
	margin-left: 3rpx;
}

.ml-5 {
	margin-left: 5rpx;
}

.ml-6 {
	margin-left: 6rpx;
}

.ml-7 {
	margin-left: 7rpx;
}

.ml-8 {
	margin-left: 8rpx;
}

.ml-10 {
	margin-left: 10rpx;
}

.ml-12 {
	margin-left: 12rpx;
}

.ml-13 {
	margin-left: 13rpx;
}

.ml-15 {
	margin-left: 15rpx;
}

.ml-18{
	margin-left: 18rpx;
}

.ml-20 {
	margin-left: 20rpx;
}

.ml-22 {
	margin-left: 22rpx;
}

.ml-30 {
	margin-left: 30rpx;
}

.ml-40 {
	margin-left: 40rpx;
}

.ml-60 {
	margin-left: 60rpx;
}

.ml-80 {
	margin-left: 80rpx;
}

.pd-5 {
	padding: 5rpx;
}

.pd-10 {
	padding: 10rpx;
}

.pd-20 {
	padding: 20rpx;
}

.pd-30 {
	padding: 30rpx;
}

.pt-5 {
	padding-top: 5rpx;
}

.pt-8 {
	padding-top: 8rpx;
}

.pt-10 {
	padding-top: 10rpx;
}

.pt-15 {
	padding-top: 15rpx;
}

.pt-16 {
	padding-top: 16rpx;
}

.pt-20 {
	padding-top: 20rpx;
}

.pt-26 {
	padding-top: 26rpx;
}

.pt-30 {
	padding-top: 30rpx;
}

.pt-35 {
	padding-top: 35rpx;
}

.pt-42 {
	padding-top: 42rpx;
}

.pt-50 {
	padding-top: 50rpx;
}

.pr-3 {
	padding-right: 3rpx;
}

.pr-5 {
	padding-right: 5rpx;
}

.pr-6 {
	padding-right: 6rpx;
}

.pr-8 {
	padding-right: 8rpx;
}

.pr-10 {
	padding-right: 10rpx;
}

.pr-15 {
	padding-right: 15rpx;
}

.pr-20 {
	padding-right: 20rpx;
}

.pr-25 {
	padding-right: 25rpx;
}

.pr-30 {
	padding-right: 30rpx;
}

.pr-35 {
	padding-right: 35rpx;
}

.pr-40 {
	padding-right: 40rpx;
}

.pr-50 {
	padding-right: 50rpx;
}

.pb-5 {
	padding-bottom: 5rpx;
}

.pb-8 {
	padding-bottom: 8rpx;
}

.pb-10 {
	padding-bottom: 10rpx;
}

.pb-12 {
	padding-bottom: 12rpx;
}

.pb-15 {
	padding-bottom: 15rpx;
}

.pb-20 {
	padding-bottom: 20rpx;
}

.pb-26 {
	padding-bottom: 26rpx;
}

.pb-30 {
	padding-bottom: 30rpx;
}

.pl-3 {
	padding-left: 3rpx;
}

.pl-5 {
	padding-left: 5rpx;
}

.pl-8 {
	padding-left: 8rpx;
}

.pl-10 {
	padding-left: 10rpx;
}

.pl-15 {
	padding-left: 15rpx;
}

.pl-20 {
	padding-left: 20rpx;
}

.pl-25 {
	padding-left: 25rpx;
}

.pl-30 {
	padding-left: 30rpx;
}

.pl-35 {
	padding-left: 35rpx;
}

.pl-40 {
	padding-left: 40rpx;
}

.pl-50 {
	padding-left: 50rpx;
}

.pl-60 {
	padding-left: 60rpx;
}

.pl-100 {
	padding-left: 100rpx;
}

.border-box {
	box-sizing: border-box;
}

.fs-9 {
	font-size: 9rpx;
}

.fs-11 {
	font-size: 11rpx;
}

.fs-14 {
	font-size: 14rpx;
}

.fs-18 {
	font-size: 18rpx;
}

.fs-20 {
	font-size: 20rpx;
}

.fs-24 {
	font-size: 24rpx;
}

.fs-26 {
	font-size: 26rpx;
}

.fs-28 {
	font-size: 28rpx;
}

.fs-32 {
	font-size: 32rpx;
}

.fs-italic{
	font-style: italic;
}

.lh-13 {
	line-height: 13rpx;
}

.lh-18 {
	line-height: 18rpx;
}

.lh-24 {
	line-height: 24rpx;
}

.lh-30 {
	line-height: 30rpx;
}

.lh-35 {
	line-height: 35rpx;
}

.lh-40 {
	line-height: 40rpx;
}

.lh-52 {
	line-height: 52rpx;
}

.lh-55 {
	line-height: 55rpx;
}

.lh-60 {
	line-height: 60rpx;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.ff-youshe {
	font-family: youshe;
}

.ff-ruizitecu {
	font-family: ruizitecu;
}

.color-fff {
	color: #fff;
}

.color-222{
	color: #222;
}

.color-c0c4cc{
	color: #c0c4cc;
}

.color-F7F7F7{
	color: #F7F7F7;
}

.color-8C8C8C{
	color: #8C8C8C;
}

.color-fff-40 {
	color: rgba(255, 255, 255, 0.4);
}

.color-fff-60 {
	color: rgba(255, 255, 255, 0.6);
}

.color-19CEA6 {
	color: #19CEA6;
}

.color-000 {
	color: #000;
}

.color-269CF9 {
	color: #269CF9;
}

.color-2A9BF9 {
	color: #2A9BF9;
}

.color-008AFF{
	color: #008AFF;
}

.bg-img-base {
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.bg-transparent {
	background: transparent;
}

.bg-fff {
	background-color: #fff;
}

.bg-fff-10 {
	background-color: rgba(255, 255, 255, 0.1);
}

.bg-fff-20 {
	background-color: rgba(255, 255, 255, 0.2);
}

.bg-1FFFAC-20 {
	background-color: rgba(31, 255, 172, 0.2);
}

.bg-365E72-24 {
	background-color: rgba(54, 94, 114, 0.24);
}

.bg-365E72-50 {
	background-color: rgba(54, 94, 114, 0.5);
}

.bg-07404F {
	background-color: #07404F;
}

.bg-269CF9 {
	background-color: #269CF9
}

.bg-E8F4FF {
	background-color: #E8F4FF
}

.bg-DFF1FF {
	background-color: #DFF1FF;
}

.bg-505861 {
	background-color: #505861;
}

.bg-595045 {
	background-color: #595045;
}

.bg-601A1A {
	background-color: #601A1A;
}

.bg-002231 {
	background-color: #002231;
}

.bg-063E4B {
	background-color: #063E4B;
}

.bg-000 {
	background-color: #000;
}

.bg-F6F7F7 {
	background-color: #F6F7F7;
}

.bg-000-20 {
	background-color: rgba(0, 0, 0, 0.2);
}

.bg-000-50 {
	background-color: rgba(0, 0, 0, 0.5);
}

.bg-000-80 {
	background-color: rgba(0, 0, 0, 0.7);
}

.bg-333 {
	background-color: #333;
}

.bg-c1c1c1 {
	background-color: #c1c1c1;
}

.bg-dc4b38 {
	background-color: #dc4b38;
}

.bg-EEF7FF{
	background-color: #EEF7FF;
}

.bg-D3D3D3{
	background-color: #D3D3D3;
}

.br-6 {
	border-radius: 6rpx;
}

.br-8 {
	border-radius: 8rpx;
}

.br-11 {
	border-radius: 11rpx;
}

.br-12 {
	border-radius: 12rpx;
}

.br-13 {
	border-radius: 13rpx;
}

.br-16 {
	border-radius: 16rpx;
}

.br-20 {
	border-radius: 20rpx;
}

.br-30 {
	border-radius: 30rpx;
}

.br-circle {
	border-radius: 50%;
}

.border-1-fff {
	border: 1px solid #fff;
}

.border-2-fff {
	border: 2px solid #fff;
}

.border-1-eee {
	border: 1px solid #eeeeee;
}

.border-1-60D3D5 {
	border: 1px solid #60D3D5;
}

.border-1-A1A1A1{
	border: 1px solid #A1A1A1;
}

.border-1-299BF9{
	border: 1px solid #299BF9;
}

.border-1-76C0FF{
	border: 1px solid #76C0FF;
}

/* Space X 工具类 1-20 */
.space-x-1 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 1) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 1) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-2 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 2) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 2) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-3 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 3) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 3) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-4 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 4) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 4) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-5 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 5) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 5) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-6 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 6) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 6) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-7 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 7) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 7) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-8 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 8) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 8) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-9 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 9) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 9) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-10 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 10) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 10) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-11 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 11) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 11) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-12 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 12) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 12) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-13 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 13) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 13) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-14 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 14) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 14) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-15 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 15) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 15) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-16 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 16) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 16) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-17 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 17) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 17) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-18 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 18) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 18) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-19 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 19) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 19) * calc(1 - var(--tw-space-x-reverse)));
	}
}

.space-x-20 {
	& > :not(:last-child) {
		--tw-space-x-reverse: 0;
		--spacing: 2rpx;
		margin-inline-start: calc(calc(var(--spacing) * 20) * var(--tw-space-x-reverse));
		margin-inline-end: calc(calc(var(--spacing) * 20) * calc(1 - var(--tw-space-x-reverse)));
	}
}

/* Space Y 工具类 1-20 */
.space-y-1 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 1) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 1) * var(--tw-space-y-reverse));
	}
}

.space-y-2 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 2) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 2) * var(--tw-space-y-reverse));
	}
}

.space-y-3 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 3) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 3) * var(--tw-space-y-reverse));
	}
}

.space-y-4 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 4) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 4) * var(--tw-space-y-reverse));
	}
}

.space-y-5 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 5) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 5) * var(--tw-space-y-reverse));
	}
}

.space-y-6 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 6) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 6) * var(--tw-space-y-reverse));
	}
}

.space-y-7 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 7) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 7) * var(--tw-space-y-reverse));
	}
}

.space-y-8 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 8) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 8) * var(--tw-space-y-reverse));
	}
}

.space-y-9 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 9) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 9) * var(--tw-space-y-reverse));
	}
}

.space-y-10 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 10) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 10) * var(--tw-space-y-reverse));
	}
}

.space-y-11 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 11) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 11) * var(--tw-space-y-reverse));
	}
}

.space-y-12 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 12) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 12) * var(--tw-space-y-reverse));
	}
}

.space-y-13 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 13) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 13) * var(--tw-space-y-reverse));
	}
}

.space-y-14 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 14) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 14) * var(--tw-space-y-reverse));
	}
}

.space-y-15 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 15) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 15) * var(--tw-space-y-reverse));
	}
}

.space-y-16 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 16) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 16) * var(--tw-space-y-reverse));
	}
}

.space-y-17 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 17) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 17) * var(--tw-space-y-reverse));
	}
}

.space-y-18 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 18) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 18) * var(--tw-space-y-reverse));
	}
}

.space-y-19 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 19) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 19) * var(--tw-space-y-reverse));
	}
}

.space-y-20 {
	& > :not(:last-child) {
		--tw-space-y-reverse: 0;
		--spacing: 2rpx;
		margin-top: calc(calc(var(--spacing) * 20) * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(calc(var(--spacing) * 20) * var(--tw-space-y-reverse));
	}
}
