.page {
  background-color: rgba(248, 248, 248, 1);
  position: relative;
  width: 750rpx;
  height: 2058rpx;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  margin-left: 6rpx;
  padding: 28rpx 30rpx 30rpx 26rpx;
}

.section_1 {
  margin-left: 32rpx;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 30rpx;
  letter-spacing: -0.30000001192092896px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36rpx;
}

.thumbnail_1 {
  width: 34rpx;
  height: 22rpx;
  margin: 8rpx 0 6rpx 462rpx;
}

.thumbnail_2 {
  width: 30rpx;
  height: 22rpx;
  margin: 6rpx 0 8rpx 10rpx;
}

.image_1 {
  width: 48rpx;
  height: 22rpx;
  margin: 6rpx 0 8rpx 10rpx;
}

.section_2 {
  width: 376rpx;
  margin: 52rpx 312rpx 0 0;
}

.thumbnail_3 {
  width: 16rpx;
  height: 32rpx;
  margin: 6rpx 0 6rpx 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(77, 78, 70, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 44rpx;
}

.group_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 686rpx;
  align-self: center;
  margin-top: 34rpx;
  padding: 32rpx 32rpx 32rpx 32rpx;
}

.box_1 {
}

.text-wrapper_1 {
  width: 274rpx;
  margin-right: 258rpx;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(77, 78, 70, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(77, 78, 70, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.text-wrapper_2 {
  width: 532rpx;
  height: 40rpx;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin-top: 16rpx;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(255, 158, 0, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(77, 78, 70, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.thumbnail_4 {
  width: 16rpx;
  height: 32rpx;
  margin: 32rpx 0 32rpx 0;
}

.group_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 686rpx;
  align-self: center;
  margin-top: 24rpx;
  padding: 32rpx 32rpx 48rpx 32rpx;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 44rpx;
  margin-right: 494rpx;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin: 32rpx 510rpx 0 0;
}

.text-wrapper_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  width: 622rpx;
  border: 1.5px solid rgba(238, 238, 238, 1);
  margin-top: 16rpx;
  padding: 11.1rpx 14.1rpx 11.1rpx 18.1rpx;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin: 48rpx 510rpx 0 0;
}

.block_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  width: 622rpx;
  border: 1.5px solid rgba(238, 238, 238, 1);
  margin-top: 16rpx;
  padding: 11.1rpx 14.1rpx 11.1rpx 18.1rpx;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.thumbnail_5 {
  width: 20rpx;
  height: 20rpx;
  margin: 10rpx 0 10rpx 0;
}

.group_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 686rpx;
  align-self: center;
  margin-top: 24rpx;
  padding: 32rpx 32rpx 48rpx 32rpx;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 44rpx;
  margin-right: 494rpx;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin: 32rpx 566rpx 0 0;
}

.text-wrapper_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: 1.5px solid rgba(238, 238, 238, 1);
  margin-top: 16rpx;
  padding: 11.1rpx 263.1rpx 11.1rpx 18.1rpx;
}

.text_15 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin: 48rpx 538rpx 0 0;
}

.text-wrapper_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: 1.5px solid rgba(238, 238, 238, 1);
  margin-top: 16rpx;
  padding: 11.1rpx 199.1rpx 11.1rpx 18.1rpx;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin: 48rpx 538rpx 0 0;
}

.text-wrapper_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: 1.5px solid rgba(238, 238, 238, 1);
  margin-top: 16rpx;
  padding: 11.1rpx 218.1rpx 11.1rpx 18.1rpx;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin: 48rpx 510rpx 0 0;
}

.text-wrapper_7 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: 1.5px solid rgba(238, 238, 238, 1);
  margin-top: 16rpx;
  padding: 11.1rpx 247.1rpx 11.1rpx 18.1rpx;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
}

.group_5 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  width: 750rpx;
  margin-top: 74rpx;
  justify-content: flex-center;
  padding: 32rpx 32rpx 32rpx 32rpx;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin-top: 28rpx;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(240, 172, 60, 1);
  font-size: 40rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 56rpx;
  margin: 20rpx 0 0 32rpx;
}

.text-wrapper_8 {
  background-color: rgba(255, 158, 0, 1);
  border-radius: 24px;
  margin-left: 124rpx;
  padding: 26rpx 80rpx 26rpx 80rpx;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 44rpx;
}
