.page {
  background-color: rgba(247, 248, 250, 1);
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.header-section {
  background: url("http://ottms.innoforce.cc/files/f9ce732d-0d0d-4d56-ac05-945d7981ffcc.png")
    100% no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin: 0 26rpx 0 76rpx;
  padding: 28rpx 4rpx 202rpx 0;
}

.user-info {
  margin: 100rpx 2rpx 0 76rpx;
}

.user-details {
}

.username {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 44rpx;
  margin-right: 12rpx;
}

.user-mobile {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 24rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 34rpx;
  margin-top: 16rpx;
}

.arrow-icon {
  width: 16rpx;
  height: 32rpx;
  margin: 30rpx 0 32rpx 0;
}

.order-center-section {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  position: absolute;
  left: -44rpx;
  top: 272rpx;
  width: 686rpx;
  height: 240rpx;
  padding: 32rpx 42rpx 26rpx 32rpx;
}

.section-title-container {
  display: flex;
  justify-content: space-between;
}

.section-title {
  overflow-wrap: break-word;
  color: rgba(77, 78, 70, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 44rpx;
}
.section-title-view-more{
  overflow-wrap: break-word;
  color: #FF9E00;
  font-size: 28rpx;
  text-align: left;
  white-space: nowrap;
  line-height: 44rpx;
}

.order-status-list {
  /* height: 106rpx; */
  margin: 32rpx 0 0 0;
}

.order-status-item {
  /* margin-right: 58rpx; */
}

.status-icon {
  width: 54rpx;
  height: 56rpx;
  margin: 0 8rpx 0 10rpx;
}

.status-label {
  overflow-wrap: break-word;
  color: rgba(77, 78, 70, 1);
  font-size: 24rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 34rpx;
  margin-top: 16rpx;
}

.avatar-wrapper {
  background-color: rgba(216, 216, 216, 1);
  border-radius: 50%;
  height: 96rpx;
  width: 96rpx;
  position: absolute;
  left: -44rpx;
  top: 128rpx;
}

.user-avatar {
  width: 96rpx;
  height: 96rpx;
}

.invite-section {
  background-image: url("http://ottms.innoforce.cc/files/5243c32f-5f76-44ce-857c-ee1516e9eb91.png");
  background-size: 100% 100%;
  border-radius: 48px;
  position: relative;
  width: 686rpx;
  align-self: center;
  margin-top: 110rpx;
  padding: 0 48rpx 0 124rpx;
}

.invite-info {
  margin: 24rpx 0 34rpx 0;
}

.invite-title {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 44rpx;
  margin-right: 50rpx;
}

.invite-code {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 34rpx;
  margin-top: 24rpx;
}

.invite-button {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  margin: 80rpx 0 24rpx 38rpx;
  padding: 10rpx 24rpx 12rpx 24rpx;
}

.invite-btn-text {
  overflow-wrap: break-word;
  color: rgba(255, 158, 0, 1);
  font-size: 24rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 34rpx;
}

.invite-decoration {
  width: 148rpx;
  height: 160rpx;
  margin-left: 6rpx;
}

.invite-bg-image {
  position: absolute;
  left: -32rpx;
  top: -26rpx;
  width: 174rpx;
  height: 202rpx;
}

.features-section {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 686rpx;
  align-self: center;
  margin-top: 24rpx;
  padding: 32rpx 32rpx 48rpx 32rpx;
}

.feature-item {
  margin: 48rpx 0 0 16rpx;
}

.feature-item:nth-child(3) {
  margin: 62rpx 0 0 16rpx;
}

.feature-item:nth-child(n+4) {
  margin: 64rpx 0 0 16rpx;
}

.feature-icon {
  width: 40rpx;
  height: 40rpx;
}

.feature-label {
  overflow-wrap: break-word;
  color: rgba(77, 78, 70, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin-left: 24rpx;
  flex: 1;
}

.bottom-navigation {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px 8px 0px 0px;
  width: 750rpx;
  margin-top: 52rpx;
  padding: 22rpx 76rpx 12rpx 74rpx;
}

.nav-item {
}

.nav-item:nth-child(1) .nav-icon {
  width: 46rpx;
  height: 46rpx;
  margin: 0 4rpx 0 6rpx;
}

.nav-item:nth-child(1) .nav-label {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 28rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin-top: 8rpx;
}

.nav-item:nth-child(2) {
  margin: 2rpx 0 2rpx 0;
}

.nav-item:nth-child(2) .nav-icon {
  width: 44rpx;
  height: 42rpx;
  align-self: center;
}

.nav-item:nth-child(2) .nav-label {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 24rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 34rpx;
  margin-top: 14rpx;
}

.nav-item:nth-child(3) {
  margin-bottom: 2rpx;
}

.nav-item:nth-child(3) .nav-icon {
  width: 38rpx;
  height: 42rpx;
  margin: 0 30rpx 0 28rpx;
}

.nav-item:nth-child(3) .nav-label {
  overflow-wrap: break-word;
  color: rgba(255, 158, 0, 1);
  font-size: 24rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 34rpx;
  margin-top: 16rpx;
}

.nav-item:nth-child(4) {
  margin-bottom: 2rpx;
}

.nav-item:nth-child(4) .nav-icon {
  width: 40rpx;
  height: 46rpx;
  align-self: center;
}

.nav-item:nth-child(4) .nav-label {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 24rpx;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  line-height: 34rpx;
  margin-top: 12rpx;
}
